@using WebSite.Models
@using WebSite.Helpers
@using WebSite.Infrastructure
@model PageInfo


@section headerMeta{
    <title>@(Model.metatitle)</title>
    <meta name="description" content="@(Model.metadescription)" />
}

@section BreadcrumbSection{
    @("breadcrumb_seiin".Translate()): <a href="/">Ceramica Globo</a> | <span>@("menu_news".Translate())</span> | <span>@("menu_prodotto".Translate())</span>
}
@{ Html.RenderAction("NewsProdotto", "Liste");}

@section footerScript{
    
    <script src="~/Content/Scripts/galleryPopup.js"></script>
}