@using WebSite.Models
@using WebSite.Helpers
@using WebSite.Infrastructure
@model PageInfo


@section headerMeta{
    <title>@(Model.metatitle)</title>
    <meta name="description" content="@(Model.metadescription)" />
}

@section BreadcrumbSection{
    @("breadcrumb_seiin".Translate()): <a href="/">Ceramica Globo</a> | <span>@("menu_mondoglobo".Translate())</span> | <span>@("menu_referenze".Translate())</span>
}

@{ Html.RenderAction("Referenze", "Liste");}
