@using WebSite.Models
@using CeramicaGlobo2018.Helpers
@model  BlocchiHome
@*BLOCCO IMMAGINE LARGHEZZA INTERA SENZA TESTI *@

<div class="col-12 blocco_bannerfullnotext">
    <article>

        @if (Model.showcontent)
        {

            string link = "/home/" + Model.urlname;
            string target = "_self";

            if (!string.IsNullOrEmpty(Model.link))
            {
                link = Model.link;
                target = "_blank";
            }

            <a href="@link" target="@target"><img class="img-fluid" src="@Model.img" /></a>
            @*<div class="text-right">
                    <a target="@target" href="@link" class="btn btn-more">@Model.buttonlabel</a>
                </div>*@
        }
        else if (!Model.showcontent && !string.IsNullOrEmpty(Model.link))
        {
            string link = Model.link;
            string target = "_blank";

            <a target="@target" href="@link"><img class="img-fluid" src="@Model.img" /></a>
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.urlvideo))
            {
                // VIDEO YOUTUBE
                <div class="embed-responsive embed-responsive-16by9 mb-3">
                    <iframe class="embed-responsive-item" src="@(OEmbed.GetYoutubeResult(Model.urlvideo).src)" allowfullscreen></iframe>
                </div>
            }
            else
            {
                <img class="img-fluid" src="@Model.img" />
            }
            // solo immagine senza link


        }
    </article>
</div>


