@using WebSite.Models
@using WebSite.Helpers
@using WebSite.Infrastructure
@model PageInfo


@section headerMeta{
    <title>@(Model.metatitle)</title>
    <meta name="description" content="@(Model.metadescription)" />
}

@section BreadcrumbSection{
    @("breadcrumb_seiin".Translate()): <a href="/">Ceramica Globo</a> | <span>@("menu_download".Translate())</span> | <span>@("menu_videoaziendali".Translate())</span>
}
@{ Html.RenderAction("Video", "Liste");}

@section footerScript{
<script src="~/Content/Scripts/videoLightning.min.js"></script>
   <script>
       videoLightning({ settings: { autoplay: true, color: "white",glow:1 }, element: ".video-link" });
</script>
}