@using WebSite.Models
@using WebSite.Helpers
@using WebSite.Infrastructure
@model PageInfo


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerMeta{
    <title>@(Model.metatitle)</title>
    <meta name="description" content="@(Model.metadescription)" />
}

<div class="sitecontent innercontent" style="margin-top:180px;">
    <h1 class="sectiontitle">@(Model.titolo)</h1>
    <div class="row margin-top-80">
        <div class="col-md-4">
            @Model.content
        </div>

        <div class="col-md-8 registerForm" data-lang="@Model.lang">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "registerform" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>@("ragionesociale".Translate())</label>
                        <input id="tbragionesociale" type="text" class="form-control" />
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>@("professione".Translate())</label>
                        <input id="tbprofessione" data-validation="required" data-validationlangkey="@("err_campoobbligatorio".Translate())" data-validationfield="@("professione".Translate())" type="text" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>@("form_email".Translate())</label>
                        <input id="tbemail" data-validation="email" data-validationlangkey="@("emailnonvalida".Translate())" data-validationfield="@("form_indirizzo".Translate())" type="text" class="form-control" value="@(ViewBag.email)" />
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <label>Privacy Policy</label>
                        @{Html.RenderAction("getPrivacy");}
                        <label><input type="checkbox" id="cbaccetta" data-validationerror="@("err_privacy".Translate())" />@("form_cbaccetto".Translate())</label>
                    </div>
                </div>
                <div class="row margin-top-30">
                    <div class="col-md-12 text-right ">
                        <a onclick="ajaxSend()" class="btn btn-light btn-invia" data-loading-text="Loading...">INVIA</a>
                    </div>
                    <div class="bg-forminfo paddingInner error-div col-md-12 margin-top-20 text-center">

                    </div>
                </div>

                            }
        </div>

    </div>
</div>

@{Html.RenderPartial("_MessageBox");}
@section footerScript{
    <script src="/Content/Scripts/jsvalidator.js"></script>
    <script src="/Content/Scripts/messageBox.js"></script>
    <script src="/Content/Scripts/formNewsletter.js?v=2"></script>
}

