@using WebSite.Models
@model ICollection<PageFiles>
<div class="row componenttitle"><span>FILES ALLEGATI</span></div>
<div class="row margin-bottom-15 margin-top-15">
    <input type="file" id="uploadfile" />
</div>

<div class="fileswrapper">
    @{int idxfile = 0;}
    @foreach (PageFiles f in Model)
    {
        // g.idx = idx;
        if (f.status != "deleted")
        {

            <div data-idx="@idxfile" data-status="@f.status" class="row margin-bottom-15 adminFileItem">
                <div class="col-md-1" style="padding-top:40px;">
                    <img src="/images/icofiles/@(f.ico)" class="" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            nome File: @(f.file)<br/><br/>
                            <label>Titolo Mostrato</label>
                            <input type="text" class="form-control tbdisplayname" value="@f.displayname" />
                        </div>
                    </div>
                </div>
                <div style="padding-top:40px;" class="col-md-2">
                    <a data-idx="@idxfile" class="btn btn-default btn-deleteFileItem">ELIMINA</a>
                </div>
            </div>
        }
        idxfile++;
    }
    <div class="row margin-bottom-15 fileLoading">
        <img src="~/images/ajax/loader.gif" />
    </div>
    @if (Model.Count==0)
    {
        <div class="emptylist">
            Non è stato caricato alcun file
        </div>
    }
</div>
<script src="/Content/Scripts/Admin/pageFiles.js?v=2"></script>